* {
    padding: 0;
}

body {
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* header */

.site-header {
    text-align: center;
    display: flex;
    height: 52px;
    background: #F4F5F8;
}

.site-header__icons-box {
    display: flex;
    justify-content: space-between;
}

.site__header__icon-logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.site__header__icon-logo img {
    width: 119px;
    height: 28px;
    align-items: center;
    padding-top: 5px;
}

.site__header__information {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-around;
    font-style: normal;
}

.site__header__information-number {
    color: #757575;
    display: flex;
    gap: 32px;
    align-items: center;
}

.site__header__information-service {
    color: #757575;
    display: flex;
    gap: 32px;
    align-items: center;

}

.header-section {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #161616;
}

.header__nav-button button {
    width: 104px;
    height: 44px;
    background-color: #F4F5F8;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}

.header__nav-button_nashe button {
    width: 200px;
    height: 44px;
    font-size: 16px;
    border: none;
    background-color: #F4F5F8;
    border-radius: 7px;
}

.header__nav-button_company button {
    width: 135px;
    height: 44px;
    font-size: 16px;
    border: none;
    background-color: #F4F5F8;
    border-radius: 7px;
}

.header__nav-button_contacts button {
    width: 116px;
    height: 44px;
    border: none;
    font-size: 16px;
    background-color: #F4F5F8;
    border-radius: 7px;
}

.header__consultation {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.header__consultation img {
    width: 44px;
    height: 44px;
}

.header__okoprom-img__button {
    align-items: center;
}



.header-consultation__button {
    border: none;
    width: 240px;
    height: 44px;
    background-color: #202226;
    color: #F4F5F8;
    border-radius: 12px;
    font-size: 16px;
}

.header-consultation__button-icon img {
    display: none;
}

/*header finish*/



/* main */

/*section start*/
.section {
    background-color: #202226;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
}

.section__title_our-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.section__button-our-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section__button-container button {
    width: 129px;
    height: 44px;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
}

.section__button-our-img {
    display: flex;
    gap: 15px;
}

.section__button-our-img button {
    border: none;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 7px;
    font-size: 22px;
}

.section__title-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.section__title {
    text-align: start;
}

.section__title-text-big {
    font-size: 30px;
    color: #ffffff;
}

.section__title-img {
    background-color: #F4F5F8;
    border-radius: 12px;
    margin: 20px;
}

.section__title-img img {

}

.section__narxi p {
    color: #ffffff;
    font-size: 24px;
    text-align: start;
    padding-left: 50px;
}

.section__title-container_sarlavha {
    color: #F4F5F8;
    text-align: start;
    font-size: 20px;
}

.section__title-container_infolar {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.section__title-container_info {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.section__title-paragraph {
    color: #9F9F9F;
}

/*section finish*/

/* article start */
.article {
    text-align: center;
    margin: auto;
}

.article__text_box {
    margin-top: 120px;
    text-align: start;
    padding: 30px;
    font-size: 26px;
}

.article__text_box h1 {
    font-size: 45px;
}

.article__text_box h3 {
    color: #757575;
}

.article__img_box img {
    margin: auto;
}

.article__img_box {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


.articles__img_box-b_color {
    color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F5F8;
    border-radius: 16px;
    text-align: start;
    padding: 24px;
}

/* article finish */

/* aside start */
.aside {
    text-align: center;
    margin-top: 120px;
}

.aside__team-text {
    text-align: start;
    color: #161616;
}

.aside__team-icons {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.aside__team-icons-column {
    display: flex;
    flex-direction: column
}

.aside__team_icon {
    display: flex;
    gap: 16px;
}

.aside__team-icon_img {
    width: 60px;
    height: 60px;
    border: #E9E9E9 1px solid;
    margin-top: 20px;
}

.aside__team-icon_img img {
    margin-top: 18px;
}

.aside__team-icon_img {
    width: 60px;
    height: 60px;
    border: 1px solid #E9E9E9;
    border-radius: 12px;
}

.aside__team_icon-text {
    text-align: start;
}

.aside__team_icon-text h2 {
    color: #161616;
}

.aside__team_icon-text p {
    color: #777;
    font-style: oblique;
}

/* aside finish */


/* why us start */
.why-us {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.why-us__big-text {
    background: #F4F5F8;
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding: 30px;
}

.why-us__big-icons_img {
    background: #f6f7f9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-us__big-text p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 18px;
    color: #777;
}

.why-us__big-text h2 {
    font-size: 27px;
}

.why-us__big-icons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

/* why us finish */


/* contacts start */

/* contacts finish */
.contacts {
    padding: 30px;
    display: flex;
    background: #202226;
    border-radius: 20px;
    text-align: center;
    margin-top: 120px;
}

.contact__text {
    text-align: start;
    padding: 60px 40px;
}

.contact__text h2 {
    color: #ffffff;
    font-size: 36px
}

.contact__text p {
    color: #9F9F9F;
    font-size: 18px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding: 40px;
}

.contact__form input {
    background: transparent;
    background: #202226;
    border-bottom: 2px solid #fff;
    border-right: none;
    height: 52px;
    font-size: 16px;
    border: none;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none; color: #fff;
    width: 100%;
}

input:focus {
    border-bottom: 2px solid #fff;
}


.contact__form button {
    height: 44px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    font-size: 16px;
    margin-top: 34px;
}

/* contacts finish */

/* footer start */
.footer__section {
    background: #F4F5F8;
    margin-top: 120px;
}

.footer__container {
    text-align: center;
    display: flex;
    gap: 50px;
    justify-content: space-between;

}

.footer__header-section {
    text-align: center;
    padding-top: 24px;
}

.footer__header-section img {
    text-align: start;
    padding-bottom: 7px;
}

.footer__line {
    color: #777;
}

.footer__text_info {
    text-align: start;
    padding-left: 15px;
}

.footer_text_p {
    margin-left: 20px;
}

.footer__texts {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.footer__text_instagram_youtube_box {
    display: flex;
    gap: 34px;
    flex-direction: row;
    padding-left: 20px;
}

.footer__text_instagram_youtube_box p {
    font-size: 16px;
    font-family: sans-serif;
    color: #777;
    margin-top: -0.001px;
}

.footer__text_instagram_youtube {
    display: flex;
    gap: 8px;
}

.footer__text_info-items_button button {
    width: 115px;
    height: 44px;
    background: #202226;
    color: #ffffff;
    border-radius: 8px;
    margin: 8px;
}

.footer__container__text {
    display: flex;
    text-align: start;
    gap: 50px;
}

.footer__container__text_paragraph p {
    color: #535252;
    font-family: sans-serif;
}

.footer__container__text_nasha-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__container__text_info-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__linee {
    color: #777;
    margin-top: 50px;
}

.footer__bottom_section {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer__bottom_section h3 {
    color: #777;
    margin-bottom: 15px;
}

@media only screen and (max-width:1024px) {
    .container {
        width: 94%;
    }

    .header-section {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header__consultation {
        margin-top: 10px;
    }


    .aside__team-icons {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }

    .article__img_box {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-us {
        display: flex;
        flex-direction: column;
    }

    .contact__form button {
        margin-top: 20px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        width: 90%;
    }

    .site-header {
        height: 84px;
        background: #F4F5F8;
    }

    .site__header__information-number,
    .site__header__information-service {
        flex-direction: column !important;
        gap: 12px;
        margin-top: 10px;
    }

    .section__title_our-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .article__img_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .why-us__big-icons {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .footer__container__text {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 435px) {
    .site__header__information-service {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header-consultation__button {
        display: none;
    }

    .header-consultation__button-icon img {
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 8px;
        cursor: pointer;
    }

    .header-consultation__button-icon {
        border: none;
        border-radius: 6px;
    }

    .header__consultation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section__title-img img {
        width: 254px;
        height: 170px;
    }

    .section__title-container {
        padding: 20px;
    }

    .section__title-container_sarlavha {
        font-size: 20px;
    }

    .article__text_box {
        font-size: 14px;
        padding: 10px;
    }

    .article__img_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .articles__img_box-b_color {
        padding: 5px;
    }

    .articles__img_box-b_color h2 {
        margin-left: 10px;
    }

    .aside__team-icons {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .why-us__big-icons {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-us__big-icons img {
        width: 90px;
        height: 82px;
    }

    .contact__text {
        text-align: start;
        padding: 30px 20px;
    }

    .contact__text h2 {
        font-size: 26px;
    }

    .contact__form {
        padding: 20px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }

    .footer__text_instagram_youtube_box {
        display: flex;
        flex-direction: column;
        margin-left: 1px;
    }

    .footer__bottom_section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}